<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>DeskFlix - Menu</ion-title>
          <ion-button ion-item menuClose color="light" (click)="goToMySettings()">
            <h3>admin{{user?.name}}</h3>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-button menuClose text-right size="large" color="dark" expand="block" fill="clear" icon-right (click)="logout()">
          Logout <ion-icon name="exit"></ion-icon>
        </ion-button>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
